* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

#storyform {
	position: relative;
	margin-top: 6rem;
}

#storybody {
	position: relative;
	margin-top: 5rem;
}

.submitGuy {
	background-color: #607d8b;
}
