#mainPageBody {
    position: relative;
    top: 15rem;
    width: 75%;
    background:#424242;
    background-image: url(./bg-test.png);
    text-align: center;
    margin: auto;
}



#mainWordWadLogo {
    width: auto;
    height: auto;
    object-fit: cover;
}
