#mainPageBody {
    position: relative;
    top: 15rem;
    width: 75%;
    text-align: center;
    margin: auto;
    background-color: #ffffff00;
}



#mainWordWadLogo {
    width: auto;
    height: auto;
    /* object-fit: cover; */
}
