/* #mainPageBody {
    position: relative;
    padding-top: 10%;
    border: .5rem solid black;
} */

#mainPageBody {
    position: relative;
    top: 15rem;
    width: 75%;
    background: grey;
    text-align: center;
    margin: auto;
}



#mainWordWadLogo {
    width: auto;
    height: auto;
    object-fit: cover;
}